body {
    margin: 0;
    overflow: hidden;
    background: black;
}

#term {
    width: 100%;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30pt;
    color: #d7d7d7;
    text-shadow: -1px 0px 1px #6a6a6a;
    background: black;
    overflow-x: hidden;
    border: none;
    outline: none;
    resize: none;
}
